.animate-card {
  position: relative;
  animation: MyDiv;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

@keyframes MyDiv {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 100px;
    top: 0px;
  }
}

.carousel-cursor {
  cursor: none; 
}

.jelly-blob {
  position: fixed;
  width: 120px;
  height: 120px;
  background-color: #0c9dfc;
  border-radius: 50%;
  transform-origin: center;
  z-index: 9999;
  pointer-events: none;
  visibility: hidden;
  animation: blob 3s infinite ease-in-out alternate,
    float 4s infinite ease-in-out;
}

/* Keep text centered */
.inside-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  pointer-events: none;
}

/* Blobby Wave Effect */
@keyframes blob {
  0% {
    border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
  }
  25% {
    border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%;
  }
  50% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
  75% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  100% {
    border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
  }
}
/* Floating Effect */
@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0) scale(1.05);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) scale(1.05);
  }
}
.custom-cursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none; /* Ensure the cursor doesn't interfere with clicks */
  transform: translate(-50%, -50%);
  z-index: 5; 
}
